:root {
    --clr-neon: rgb(37, 112, 209);
    --clr-bg: hsl(323 21% 16%)
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    flex: auto;
}

.header::before{
    content: "";
    width: 100%;
    height: 100%;
    background: url(./Images/background.jpg);
    background-size: cover;
}

.header-info {
    position: absolute;
    font-size: 35px;
    text-shadow: 10px 5px 25px rgba(15, 15, 15, 0.5);
}

.header-info img{
    height: 17%;
    width: 17%;
    border-radius: 50%;
}

.btn {
    margin: auto;
    border: 2px solid #4bcffa;
    width: 10em;
    height: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    border-radius: 10px;
    background-color:#95a5a6;
    font-size: 25px;
    transition-property: border;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    margin-bottom: 30px;
}


a {
    text-decoration: none;
    color: #ffc048;
}

.btn:hover{
border-width: 5px;
background-color: transparent;
text-shadow: none;
}

.section {
    width: 100%;
    margin-top: 3em;
}

.section-header {
    display: block;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    width: 25%;
    font-size: 30px;
    padding: 10px 5px;
    border-bottom: 3px solid #3742fa;
} 

.box {
    display: flex;
    justify-content: center;
}

.experience-container {
    display: flex;
    justify-content: center;
}

.experience-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.item-name {
    font-size: 30px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2rem;    
}

.contact-sec {
    min-height: 30em;
    background-color: #576574;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container {
    width: 20em;
    margin-top: 4em;
    display: flex;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contact-form > label {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#contact-form > input {
    padding: 0 5px;
    outline: none;
    border-radius: 10px;
    height: 3em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    border: 0;
    border-bottom: 3px solid #ff9ff3;
    box-shadow: 0px 0px 15px 3px rgba(15, 15, 15, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif
}

#contact-form > input::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

#contact-form > textarea {
    outline: none;
    border-radius: 10px;
    max-width: 100%;
    min-height: 100%;
    min-height: 40px;
    margin-bottom: 60px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 3px solid #ff9ff3;
}

#contact-form > textarea::placeholder {
    max-width: 100%;
    min-height: 100%;
    margin-bottom: 60px;
    font-size: 16px;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-wrap: break-word;
}

a[href^="mailto:"] { 
    font-family: sans-serif;
    color: #fff;
    font-size: 35px;
    position: relative;
    bottom: 40px;
    border: 2px solid #ff9ff3;
    padding: 2px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

label {
    font-size: 1.5rem;
}

img {
    transition: all .2s ease-in-out;
    margin-bottom: 1rem;
    width: auto ;
    max-width: 100% ;
    height: auto ;
}

.item-logo:hover {
    transform: scale(1.4);
}   

.contactBtn {
    margin: auto;
    border: 2px solid #ff9ff3;
    width: 10em;
    height: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 10px;
    background-color:#95a5a6;
    font-size: 25px;
    transition-property: border;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    margin-bottom: 30px;
}

.contactBox {
    min-height: 10px;
}

.elastic-fai-xl{
    font-size:80px;
}
.elastic-fai-lg{
    font-size:50px;
}
.elastic-fai-md{
    font-size:40px;
}
.elastic-fai-sm{
    font-size:30px;
}
.elastic-fai-xs{
    font-size:20px;
}
/* Extra small devices */
@media(max-width:544px){
    .elastic-fai-group > .elastic-fai, .elastic-fai-xs{
        font-size:20px;
    }
}
/* Small devices */
@media(min-width:544px){
    .elastic-fai-group > .elastic-fai, .elastic-fai-sm{
        font-size:30px;
    }
}
/* Medium devices */
@media(min-width:768px){
    .elastic-fai-group > .elastic-fai, .elastic-fai-md{
        font-size:40px;
    }
}
/* Large devices */
@media(min-width:992px){
    .elastic-fai-group > .elastic-fai, .elastic-fai-lg{
        font-size:50px;
    }
}
/* Exrta Large devices */
@media(min-width:1200px){
    .elastic-fai-group > .elastic-fai, .elastic-fai-xl{
        font-size:80px;
    }
}

/* Testing neon button for mailto

.test {
color: var(--clr-neon);
text-decoration: none
border: var(--clr-neon) 0.125em solid;
padding: 0.25em 1em;
border-radius: 0.25em;

text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
position: relative;
}

.test::before {
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(2em);
} */